PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/school_management
SESSION_SECRET=change-me
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@school.com
ADMIN_PASSWORD=admin123
SCHOOL_NAME=New Shining Star Public School
SCHOOL_ADDRESS=Ashapur - Bahera Rd, Ashapur, Darbhanga, Bihar - 847201
SCHOOL_PHONE=+91 73679 87022
SCHOOL_EMAIL=nssps7022@gmail.com
SCHOOL_HEAD_NAME=Shri Santosh Jha
SCHOOL_PRINCIPAL_NAME=Mr. Vineet Kumar Jha
