PORT=5000
MONGODB_URI='mongodb://127.0.0.1:27017/school_management
SESSION_SECRET=change-me
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@school.com
ADMIN_PASSWORD=admin123
SCHOOL_NAME=New Shining Star Public School
SCHOOL_ADDRESS=Near Main Road, Your City, State - 123456
SCHOOL_PHONE=+91-9876543210
SCHOOL_HEAD_NAME=Santosh Jha
